/*google font import*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "open Sans", sans-serif;
    font-weight: 400;
    
}

/*NAVBAR*/

.bg-menu {
    background: #E83E8C;
} 

.nav-item {
    font-size: 1.5rem;
}

.navbar-brand img {
    width: 10rem;
    height: 100%;
   
}

/*SECTION CARD*/

h1 {
    color:#707070;
    opacity: 1;
    font-weight: 700;
    font-size: 3rem;
}
.row {
    margin-top: none;
    color: #373A3C;
}

.card {
    margin:2rem;
    width:auto;
}

h5 {
    font-size: 1.5rem;
    font-weight: 700;

}

p {
    font-size: 1.2rem;
}

li {
    font-size: 1rem;
}

.card-body  {
    font-size: 1rem;
}

/*SECTION PAGO*/

.pago {
    background: #17A2B8;
    color:#FFFFFF ;
    font-size: 7rem;

}

i {
    font-size: 7rem;
    padding: 0,5rem;
    color: #FFFFFF;
}

h2 {
    font-size: 3rem;
    padding: 2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
    color:#FFFFFF;


}

/*FOOTER*/

footer {
    background:#E83E8C;
    padding: 2rem;
    text-align: center;
    color:#FFFFFF;
}
footer img {
    height: 9rem;
    margin:auto
}








